{% extends "base.html" %}

{% block contenido %}

<div class="text-center">
    <h1 class="mb-4">Sistema de Gestión de Transporte Interdepartamental Trans Urus</h1>
    <p class="lead">Proyecto Académico - Ingeniería de sistemas UNO</p>
</div>

<div class="row mt-5">

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">La Paz</h5>
                <p class="card-text">Rutas activas hacia Oruro y Cochabamba</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">Cochabamba</h5>
                <p class="card-text">Rutas activas hacia La Paz y Santa Cruz</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">Oruro</h5>
                <p class="card-text">Rutas activas hacia La Paz</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}